
<h1>Delete</h1>
<form method="post" action="/BootCamp/SubmitDeleteForm">
    <label>First Name</label>
    <input class="form-control" type="text" name="fName" value="@ViewBag.studentToDelete.fName" readonly />

    <label>Last Name</label>
    <input class="form-control" type="text" name="lName" value="@ViewBag.studentToDelete.lName" readonly /><br />

    <label>Career Path</label>
    <input class="form-control" type="text" name="CareerPath" value="@ViewBag.studentToDelete.CareerPath" readonly /><br />

    <input type="hidden" name="id" value="@ViewBag.studentToDelete.Id" />
    <input class="btn btn-danger" type="submit" value="Delete" /><br /><br />
    <a class="btn btn-success" asp-controller="BootCamp" asp-action="StudentInfo">Go Back</a>

</form>